@model pro.Models.product
@{
    ViewBag.Title = "update";
}

<h2>update</h2>
@using (Html.BeginForm("updateConfirm","updateDelete",@Model.Id)){
    @Html.ValidationSummary(true)
    <fieldset>
         <div class="editor-field">
             @Html.EditorFor(model=>model.Id,Model.Id)</div>
        <legend> Product Name</Legend>
        <div class="editor-label">
            @Html.LabelFor(model=>model.pName)</div>
         <div class="editor-field">
             @Html.EditorFor(model=>model.pName,Model.pName)
              @Html.ValidationMessageFor(model=>model.pName)</div>
        @Model.Id=@Model.Id;

        <legend> category</Legend>
        <div class="editor-label">
            @Html.LabelFor(model=>model.category)</div>
         <div class="editor-field">
             @Html.EditorFor(model=>model.category,Model.category)
              @Html.ValidationMessageFor(model=>model.category)</div>
         <legend> price</Legend>
        <div class="editor-label">
            @Html.LabelFor(model=>model.price)</div>
         <div class="editor-field">
             @Html.EditorFor(model=>model.price,Model.price)
              @Html.ValidationMessageFor(model=>model.price)</div>
        <legend> description</Legend>
        <div class="editor-label">
            @Html.LabelFor(model=>model.description)</div>
         <div class="editor-field">
             @Html.EditorFor(model=>model.description,Model.description)
              @Html.ValidationMessageFor(model=>model.description)</div>
        <legend> image</Legend>
        <div class="editor-label">
            @Html.LabelFor(model=>model.image)</div>
         <div class="editor-field">
             @Html.EditorFor(model=>model.image,Model.image)
              @Html.ValidationMessageFor(model=>model.image)</div>
        <p>
            <input type="submit" value="Update Item" />

            <input type="button" value="Cancel" />
            </p>

        
        </fieldset>
}
    